*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--main-background-color: #6589F9;
	--dark-orange: #E76509;
}

body {
	margin: 20px, 0;
	background: var(--main-background-color);
  font-family: 'Dosis', sans-serif;
}

.grid {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card {
	margin: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	transition: all .4s linear;
	transform-style: preserve-3d;
}

.card,
.back, 
.front {
	height: 150px;
	width: 150px;
}

.back,
.front {
	position: absolute;
	backface-visibility: hidden;
}

.front {
	background: #FAB942 url('https://raw.githubusercontent.com/taniarascia/memory/master/img/question.gif') no-repeat center center / contain;
}

.back {
	transform: rotateY(180deg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.selected {
	transform: rotateY(180deg);
}

.match .front {
	background: var(--main-background-color) !important;
}

.game-over {
	display: block;
	color: white;
	font-size: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.button {
  font-family: 'Dosis', sans-serif;
	background-color: #FAB942;
	color: var(--dark-orange);
	font-weight: 700;
	width: 150px;
	height: 150px;
	margin-top: 2em;
	font-size: 35px;
	border-left: 10px solid var(--dark-orange);
	border-top: 10px solid var(--dark-orange);
	border-right: 10px solid black;
	border-bottom: 10px solid black;
	text-shadow: 1px 1px var(--dark-orange);
}