*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--main-background-color: /*white*/ #6589F9;	
}

body {
	margin: 20px, 0;
	background: var(--main-background-color);
}

.grid {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card {
	margin: 5px;
	/*background-color: var(--main-background-color);*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	/*height: 150px;*/
	/*width: 150px;*/

	position: relative;
	transition: all .4s linear;
	transform-style: preserve-3d;
}

.card,
.back, 
.front {
	height: 150px;
	width: 150px;
}

.back,
.front {
	position: absolute;
	backface-visibility: hidden;
}

.front {
	/*z-index: 2;*/
	background: #FAB942 url('https://raw.githubusercontent.com/taniarascia/memory/master/img/question.gif') no-repeat center center / contain;
}

.back {
	transform: rotateY(180deg);
	/*background-color: var(--main-background-color);*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.selected {
	/*border: 4px solid blue;*/
	transform: rotateY(180deg);
}

.match .front {
	background: var(--main-background-color) !important;
}

.gameOver {
	color: white;
	font-size: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}